<span
	class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-1 border border-white/10 rounded dark:bg-blue-900 dark:text-blue-300 hover:scale-110 hover:scale-y-125 hover:text-white hover:bg-white/10 transition-all"
>
	<slot />
</span>
