---
import ExperienceItem from './ExperienceItem.astro';

const EXPERIENCES = [
	{
		date: 'Actualmente...',
		title: 'Estudiante universitario - UTESA',
		description:
			'Estudiante universitario de la carrera de ingenieria en sistemas en la Universidad Tecnologica de Santiago, actualmente en el 5 ciclo universitario, con conocimiento en el area de base de datos, deseño de sistemas computacionales, frotend y backend e IA.',
		link: '#',
	},
	{
		date: 'Abril 2021',
		title: 'WorkTitle',
		description: 'Trabajador a tiempo parcial',
	},
];
---

<ol class="relative border-s border-gray-200 ml-3">
	{
		EXPERIENCES.map((e) => (
			<li class="mb-10 ms-4">
				<ExperienceItem {...e} />
			</li>
		))
	}
</ol>
