---
const experience = [
	{
		date: 'Actualmente...',
		title: 'Universitario',
		company: 'UTESA',
		description: 'Estudiante de Ingenieria en sistemas computacionales.',
		link: 'https://www.utesa.edu/home/',
		imgCompany: 'utesa.png',
	},
	{
		date: '24-04-2023',
	},
];
---

<dir class="flex mx-auto justify-center items-center py-16">
	<img
		class="size-28 rounded-md"
		src="https://img.freepik.com/vector-gratis/logotipo-codigo-degradado_23-2148830995.jpg?w=740&t=st=1711296032~exp=1711296632~hmac=996e831fa6315001f13b767c7e25731fa33fa5710792c0f46befd01b020cbfcd"
		alt="utesaLogo"
	/>
	<section class="flex flex-col mx-6">
		<h1 class="text-xl font-bold">UTESA</h1>
		<p class="mt-6 opacity-80">
			Estudiante de Ingenieria en sistemas computacionales.
			dgsdffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
		</p>
		<a class="" href="https://www.utesa.edu/home/"
			>Universidad Tecnologica de Santiago</a
		>
	</section>

	<section class="ml-[100px]">
		<h1 class="text-xl font-bold">Universitario</h1>
		<h2 class="py-10">Actualemte...</h2>
	</section>
</dir>
